.brand {
    text-transform: uppercase;
    font-family: 'Audiowide', cursive;
}

.brand span {
    color: #525CEB;
}

.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0f0e1700;
    backdrop-filter: blur(10px);
    color: #fff;
    z-index: 1000;
}

.nav-link {
    display: flex;
    gap: 2.5rem;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275),
        opacity 0.4s ease;
}

.nav-link:hover {
    cursor: pointer;
}

.nav-links {
    text-transform: capitalize;
    font-family: "Exo 2", sans-serif;
    font-weight: 500;
    position: relative; 
    color: var(--bg-light);
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.nav-links:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateX(0) scale(1.05);
}

.nav-links::after {
    content: "";
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #525CEB; 
    transition: width 0.3s ease-in-out;
}

.nav-links:hover::after {
    width: 100%; 
}

/* Hamburger */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: #fff;
    transition: 0.3s ease;
}

/* Mobile */
@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .nav-link {
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        background-color: rgba(15, 14, 23, 0.95);
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        padding: 2rem 0;

        transform: translateY(-20px);
        opacity: 0;
        pointer-events: none;
    }

    .nav-link.active {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
    }

    .nav-links {
        font-size: 1.1rem;
    }
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
        position: absolute;
        right: 1.5rem;   /* jarak dari kanan */
        top: 50%;
        transform: translateY(-50%);
    }

    .nav-container {
        position: fixed;
    }
}

.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

