.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}


/* CARD UTAMA */
.project-item {
  background: linear-gradient(145deg, #121020, #0c0b16);
  border-radius: 18px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.project-item:hover {
  transform: translateY(-6px);
}

.project-image img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}


/* TEXT */
.project-info {
  padding: 1.5rem;
}

.project-info h3 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  color: var(--primary-color);
}

.project-info p {
  font-size: 0.9rem;
  line-height: 1.6;
  color: #b5b5c9;
}


/* TECH BADGE */
.project-tech {
  display: flex;
  gap: 0.5rem;
  margin: 1.5rem 0;
}

.project-tech span {
  padding: 6px 14px;
  border-radius: 20px;
  background: rgba(82, 92, 235, 0.15);
  color: var(--primary-color);
  font-size: 0.8rem;
}

/* BUTTON */
.project-action {
  display: flex;
  gap: 1rem;
}

.btn-primary {
  background: var(--primary-color);
  padding: 0.7rem 2rem;
  border-radius: 10px;
  border: none;
  color: white;
}

.btn-outline {
  border: 1px solid var(--primary-color);
  padding: 0.7rem 2rem;
  border-radius: 10px;
  color: var(--light-color);
}

/* IMAGE */
.project-image img {
  width: 100%;
  border-radius: 14px;
  object-fit: cover;
}


@keyframes fadeUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 900px) {
  .project-item {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .project-tech,
  .project-action {
    justify-content: center;
  }
}

