.project-list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* CARD UTAMA */
.project-item {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 3rem;
  align-items: center;
  background: linear-gradient(145deg, #121020, #0c0b16);
  padding: 3rem;
  border-radius: 20px;
}

/* TEXT */
.project-info h3 {
  font-size: 2rem;
  color: var(--light-color);
  margin-bottom: 1rem;
}

.project-info p {
  color: var(--text-color);
  max-width: 500px;
}

/* TECH BADGE */
.project-tech {
  display: flex;
  gap: 0.5rem;
  margin: 1.5rem 0;
}

.project-tech span {
  padding: 6px 14px;
  border-radius: 20px;
  background: rgba(82, 92, 235, 0.15);
  color: var(--primary-color);
  font-size: 0.8rem;
}

/* BUTTON */
.project-action {
  display: flex;
  gap: 1rem;
}

.btn-primary {
  background: var(--primary-color);
  padding: 0.7rem 2rem;
  border-radius: 10px;
  border: none;
  color: white;
}

.btn-outline {
  border: 1px solid var(--primary-color);
  padding: 0.7rem 2rem;
  border-radius: 10px;
  color: var(--light-color);
}

/* IMAGE */
.project-image img {
  width: 100%;
  border-radius: 14px;
  object-fit: cover;
}


@keyframes fadeUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 900px) {
  .project-item {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .project-tech,
  .project-action {
    justify-content: center;
  }
}

